[user]
default_user = "gia-uh"
default_password = "38d406a798688f99c83852840952c276eb7635f7ea9024babcde8648b0c37e31"

[ldap]
address = ""
user = ""
passwd = ""

[dbs]
milvus = "./milvus_lite.db"

[dirs]
project.law = "./jsons/anteproyecto/law"

[llm]
base_url = "http://10.6.125.217:8080/v1"
model = "qwen/qwen3-14b"
api_key = ""

[embedding]
base_url = "http://10.6.125.217:8080/v1"
model = "text-embedding-nomic-embed-text-v2-moe"
api_key = ""
